{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_domain') }}" method=post class=add-domain>
    <dl>
      <dt>Domainname:
      <dd><input type=text size=30 name=domainname><input type=submit value=Add>
    </dl>
  </form>
  <ul class=entries>
  {% for domain in domains %}
    <li><h2>{{ domain.name }} <a href="{{ url_for('del_domain', domain_id=domain.id) }}">DEL</a></h2>
    <ul>
      {% for user in domain.users %}
        <li>{{ user.email }}
      {% else %}
        <li><em>No mail users entries here so far</em>
      {% endfor %}
      <li><form action="{{ url_for('add_user', domain_id=domain.id) }}" method=post class=add-user>
            <dl>
              <dt><input type=text size=30 name=username value="@{{ domain.name }}"> Password: <input type=password size=30 name=password><input type=submit value=Add>
            </dl>
            <br>
          </form>
    </ul>
    <ul>
      {% for alias in domain.aliases %}
        <li>{{ alias.source }} -> {{ alias.destination }}
      {% else %}
        <li><em>No mail alias entries here so far</em>
      {% endfor %}
      <li><form action="{{ url_for('add_alias', domain_id=domain.id) }}" method=post class=add-alias>
            <dl>
              <dt><input type=text size=30 name=source value="@{{ domain.name }}"> -&gt; <input type=text size=30 name=destination value="@{{ domain.name }}"><input type=submit value=Add>
            </dl>
            <br>
          </form>
    </ul>
  {% else %}
    <li><em>Unbelievable.  No mail domains entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
